<div class="w-full h-70 rounded-3xl overflow-hidden">
  <div class="relative w-full h-full">
    <div class="absolute inset-0">
      <div class="w-full h-full" *ngIf="!previewUrl"></div>
      <img
        [src]="previewUrl"
        alt="Event image"
        class="w-full h-full object-cover"
      />
    </div>
    <button
      type="button"
      (click)="triggerGalleryClick()"
      class="absolute top-4 right-4 bg-pink-600 z-10 hover:bg-pink-700 p-2 rounded-full shadow-md transition"
      aria-label="Change image"
      *ngIf="previewUrl"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
        />
      </svg>
    </button>

    <div class="absolute inset-0 flex flex-col items-center justify-center p-6">
      <div class="flex items-center justify-center gap-6">
        <button
          type="button"
          (click)="triggerGalleryClick()"
          class="bg-pink-700 rounded-full w-14 h-14 flex items-center justify-center shadow-lg hover:bg-pink-700 transition"
          *ngIf="!previewUrl"
          aria-label="Upload image"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Hidden file inputs -->
  <input
    type="file"
    id="gallery-upload"
    accept="image/*"
    class="hidden"
    (change)="onFileSelected($event)"
  />

  <input
    type="file"
    id="cloud-upload"
    accept="image/*"
    class="hidden"
    (change)="onFileSelected($event)"
  />
</div>
