<div class="event-details-container form-container">
  <form
    [formGroup]="eventForm"
    (ngSubmit)="onSubmit()"
    class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-6xl mx-auto p-6 pt-0"
  >
    <app-tool-bar class="md:col-span-3"></app-tool-bar>

    <div class="md:col-span-3 flex flex-col md:flex-row gap-6 form-container">
      <app-event-main-info-card
        class="card-base w-full"
        [mainCardTitle]="'Main Info'"
        [formGroup]="eventForm"
        [formControlTitleMain]="'title'"
        [formControlLocation]="'location'"
        [placeholderEventTitle]="'Event Name'"
        [locationPlaceholder]="'Location'"
        (imageSelected)="onImageSelected($event)"
      ></app-event-main-info-card>

      <div class="flex flex-row gap-6 w-full">
        <div class="flex flex-col gap-6">
          <app-event-info-card
            [subTitle]="'Arrangers note'"
            [placeholderTitle]="'Your Name'"
            [placeholderTextArea]="'Tell the guests about your event'"
            [formGroup]="eventForm"
            [formControlTitle]="'arranger'"
            [formControlDescription]="'description'"
          ></app-event-info-card>
          <app-event-info-card
            [subTitle]="'Ex. Birthday, After Work'"
            [placeholderTitle]="'Add Category'"
            [placeholderTextArea]="'Tell the guests about your event'"
            [formGroup]="eventForm"
            [formControlTitle]="'category'"
            [formControlDescription]="'category'"
            [icon]="'🗂'"
          ></app-event-info-card>
        </div>
        <div class="flex flex-col gap-6">
          <app-event-info-card
            [infoCardtitle]="'RSVP'"
            [subTitle]="'Date and time'"
            [placeholderTitle]="'RSVP'"
            [placeholderTextArea]="'Add a RSVP note'"
            [formGroup]="eventForm"
            [formControlDescription]="'rsvp'"
            [icon]="'🛎'"
          ></app-event-info-card>
        </div>
      </div>
    </div>
  </form>
</div>
