.content {
  display: flex;
  flex-direction: column;
  align-items: center; // Center children horizontally
  margin-top: 24px; // Add space below navbar
  width: 100%;
  min-height: 70vh; // Ensure content area takes up space
}
