<div class="event-details-container">
  <div class="event-details">
    <div class="event-header">
      <img
        [src]="appEvent?.imageFile"
        alt="{{ appEvent?.title }}"
        class="event-image"
      />
      <h1 class="event-title">{{ appEvent?.title }}</h1>
      <button
        id="deleteBtn"
        (click)="handleDeleteEvent(appEvent?.id ?? '')"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Delete
      </button>
      <button
        id="editBtn"
        (click)="handleUpdateEvent(appEvent?.id ?? '')"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Edit
      </button>
    </div>
    <div class="event-info">
      <p><strong>Arranger:</strong> {{ appEvent?.arranger }}</p>
      <p><strong>Category:</strong> {{ appEvent?.category }}</p>
      <p><strong>Date:</strong> {{ appEvent?.date | date }}</p>
      <p><strong>Location:</strong> {{ appEvent?.location }}</p>
      <p><strong>Description:</strong> {{ appEvent?.description }}</p>
    </div>
  </div>
</div>
